<html>
<head>
  <title>SyntheticMass Patient List</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
<link rel="stylesheet" href="styles/record_viewer.css" />

  <script src="ma_geo.js"></script>
  <script src="us_states_geo.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
   
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js" integrity="sha256-59IZ5dbLyByZgSsRE3Z0TjDuX7e1AiqW5bZ8Bg50dsU=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">SyntheticMass</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div id="maptype-wrapper" class="leaflet-bar">
          <select name="maptypes" id="maptypes" onChange="setMap(this)">
            <option value="states" selected>US States</option>
            <option value="counties">US Counties</option>
            <option value="state_counties">Single State - Counties</option>
            <option value="state_cities">Single State - Cities</option>
          </select>
        </div>
      </div>
    </nav>

<main role="main" id="app" class="container-fluid">

<div id="apikey_entry" v-if="!apikey">
  <form method="get" action="patient_list.html">
    Enter API key: <input type="text" id="apikey" name="apikey"> <button type="submit">Continue</button>
</form>

</div>

<div id="apikey_given" v-if="apikey">

  <div id="map_view">
    <div class="map" id="main_map" style="width:1024px;height:600px"></div>
  </div>

  <div id="city" v-if="city">
    <h1> {{ city }} </h1>
    <div id="spinner" v-if="isLoading"><img src="https://i.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.webp"></div>
    <dl class="dl-horizontal" v-for="patient in patients">
      <dt v-html="linkToPatient(patient)"></dt>
        <dd v-html="patientDetails(patient)"></dd>
    </dl>
  </div>

</div>

</main>

<script type="text/javascript">

const round = function (num, digits) {
  return Number.parseFloat(num).toFixed(digits);
}

const isMatchingReference = function(entry, reference, resourceType) {
  return entry.id === reference 
        || ('urn:uuid:'+entry.id) === reference 
        || (resourceType+'/'+entry.id) === reference;
};


const stateClicked = (e) => {
  // e = event
  // console.log(e);
  const layer = e.target;
  app.state = layer.feature.properties.cs_name;

  const bounds = layer.getBounds();
  app.map.fitBounds(bounds);

  app.loadState();
};

const cityClicked = (e) => {
  // e = event
  // console.log(e);
  app.city = e.target.feature.properties.cs_name;
  app.loadPatients();
};

const colorScale = {
  0: "#f1eef6",
  1750: "#d4b9da",
  5250: '#c994c7',
  8750: '#df65b0',
  14000: '#e7298a',
  17500: '#ce1256',
  35000: '#91003f'
};

const citiesLayer = L.geoJSON(MA_GEO_JSON, {
  onEachFeature: function(feature, layer) {
    const props = feature.properties;
    layer.bindTooltip(`<b>${props.cs_name} - ${props.ct_name} County</b><br/>Population: ${props.pop}`);
    layer.on({
        click: cityClicked
    });
  },
  style: function(feature) { 
    const props = feature.properties;
    const pop = props.pop;
    let fillColor = '#ffffff';

    for (const levelPop in colorScale) {
      if (pop > levelPop) {
        fillColor = colorScale[levelPop];
      }
    }

    return { color: '#ffffff', opacity: 0.8, fillOpacity: 0.75, fillColor };
  }
});

const statesLayer = L.geoJSON(US_STATES_GEO_JSON, {
  onEachFeature: function(feature, layer) {
    const props = feature.properties;
    layer.bindTooltip(`<b>${props.NAME}</b>`);
    layer.on({
        click: stateClicked
    });
  }
});


const urlParams = new URLSearchParams(window.location.search);
const city = urlParams.get('city');
const state = urlParams.get('state');
const apikey = urlParams.get('apikey');



const app = new Vue({
  el: '#app',
  data: {
    state,
    city,
    patients: [],
    apikey,
    map: null,
    currentLayer: null,
    isLoading: false
  },
  methods: {
    initMap: function() {
      this.map = L.map("main_map",{doubleClickZoom:false,scrollWheelZoom:false});
      this.map.setView([39.833333, -98.583333],4);

      const tiles = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}
      );
      this.map.addLayer(tiles);
      this.currentLayer = statesLayer;
      this.map.addLayer(statesLayer);
    },
    setMap: function(event) {
      this.map.removeLayer(this.currentLayer);

      switch(event.value) {
        case 'states':
          this.currentLayer = statesLayer;
          break;

        case 'counties':
          break;

        case 'state_counties':
          break;

        case 'state_cities':
          this.currentLayer = citiesLayer;
          break;
      }

      this.map.addLayer(this.currentLayer);
    },
    linkToPatient: function(patient) {
      const patientName = patient.name[0].family + ', ' + patient.name[0].given.join(' ');
      const url = `record_viewer.html?patient=${patient.id}&apikey=${this.apikey}`;
      return `<a href="${url}">${patientName}</a>`
    },
    linkToCity: function(cityName) {
      const url = `patient_list.html?city=${cityName}&apikey=${this.apikey}`;
      return `<a href="${url}">${cityName}</a>`;
    },
    patientDetails: function(patient) {
      const date = this.$options.filters.date;

      const gender = patient.gender;
      const birthdate = date(patient.birthDate);
      const age = moment().diff(birthdate, 'years');
      const addr = patient.address[0];
      const addrLine1 = addr.line.join(' ');
      const addrLine2 = addr.city + ', ' + addr.state + ' ' + patient.address[0].postalCode;
      const deceased = patient.deceasedDateTime ? 'Deceased ' + date(patient.deceasedDateTime) : '';

      return `<br/>${gender}<br/>DOB: ${birthdate} (Age ${age})<br/>${addrLine1}<br/>${addrLine2}<br/>${deceased}`;
    },
    loadPatients: function() {
      const url = `https://syntheticmass.mitre.org/v1/fhir/Patient?address-city:exact=${this.city}&_count=10&apikey=${this.apikey}`;

      const getPatients = new XMLHttpRequest();
      getPatients.onreadystatechange = () => {
        if (getPatients.readyState === XMLHttpRequest.DONE) {
          if (getPatients.status === 200) {
            const json = getPatients.responseText;
            try {
              const result = JSON.parse(json);
              app.patients = result.entry.map(e => e.resource);
            } catch (e) {
              console.error(e);
              console.log(`url was ${url}`);
              console.log(`json was ${JSON.stringify(json, null, 2)}`);
            }
            this.isLoading = false;
          }
        }
      };
      this.isLoading = true;
      getPatients.open('GET', url);
      getPatients.send();
    },
    loadState: function() {

    }
  },   
  filters: {
    date: function(str) {
      let d = moment(str);
      return d.isValid() ? d.format('YYYY-MM-DD') : str;
    },
    dateTime: function(str) {
      let d = moment(str);
      return d.isValid() ? d.format('YYYY-MM-DD h:mm:ss a') : str;
    },
  }
});

if (city && apikey) {
  app.loadPatients();
}

if (apikey && !city) {

  app.initMap();

}



// TODO: fix this, the dropdown should bind directly
const setMap = e => app.setMap(e);

</script>


</body>
</html>