<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<title>Record Viewer</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js" integrity="sha256-O4179En8zabOlPYBNvGp8cF0uh0vnSZpW4Q6Ul1h+8c=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js" integrity="sha256-59IZ5dbLyByZgSsRE3Z0TjDuX7e1AiqW5bZ8Bg50dsU=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="scripts/drag_drop_helper.js"></script>

<link rel="stylesheet" href="styles/record_viewer.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div id="app" class="container-fluid">

<div id="patient" v-if="patient">
  <div class="health-record__header"><div class="header-title">summary</div><div class="header-divider"></div></div>
  <div id="p_brief" class="row">
    <div id="p_brief_photo" class="col-2">
      <!-- img v-bind:src="'https://randomuser.me/api/portraits/' + (patient.gender == 'female' ? 'women' : 'men') + '/' + randInt(64) + '.jpg'" id="p_patient_photo" alt="Patient Photo" style="height:100%" -->
    </div>
    <div id="p_brief_records" class="col-5">
      <div id="p_brief_name_address" class="p_block">
        <dl class="dl-horizontal p_brief_family">
          <dt>Name</dt>
            <dd>{{ patient.name[0].family }}, {{ patient.name[0].given.join(' ') }}</dd>
          <dt>Gender</dt>
            <dd>{{ patient.gender }}</dd>
          <dt>Date of Birth</dt>
            <dd>{{ patient.birthDate | date }}</dd>
          <dt>Address</dt>
            <dd>{{ patient.address[0].line.join(' ') }}</dd>
          <dt>City, State</dt>
            <dd>{{ patient.address[0].city }}, {{ patient.address[0].state }}</dd>
          <dt>Postal Code</dt>
            <dd>{{ patient.address[0].postalCode }}</dd>
          <template v-if="patient.deceasedDateTime">
            <dt>Date of Death</dt>
              <dd>{{ patient.deceasedDateTime | date }}</td></dd>
          </template>
        </dl>
      </div>
    </div>
    <div id="p_brief_records" class="col-5">
      <div id="p_brief_name_address" class="p_block">
        <dl class="dl-horizontal p_brief_family">
          <dt>Height</dt>
            <dd>{{ height_obs | obsValue }}</dd>
          <dt>Weight</dt>
            <dd>{{ weight_obs | obsValue }}</dd>
          <dt>Race</dt>
            <dd>{{ race || 'unk.' }}</dd>
          <dt>Ethnicity</dt>
            <dd>{{ ethnicity || 'unk.' }}</dd>
          <dt>Language</dt>
            <dd>{{ patient.communication[0].language.coding[0].display }}</dd>
          <dt>Blood Type</dt>
            <dd>unknown</dd>
          <template v-if="cause_of_death_obs">
            <dt>Cause of Death</dt>
              <dd>{{ cause_of_death_obs | obsValue }}</td></dd>
          </template>
        </dl>
      </div>
    </div>
  </div>
</div>

<div id="by_type" v-if="!group_by_encounter">
  <a id="toggle_grouping_enc" title="Toggle Grouping By Encounter"
     href="#" onclick="ToggleGrouping(true);return false;">Group by Encounter</a>
  <div id="conditions" v-if="conditions.length > 0">
    <div class="health-record__header"><div class="header-title">conditions</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_conditions_head">
      <tr>
        <th scope="col">SNOMED</th>
        <th scope="col">Condition</th>
        <th scope="col">Date of Onset</th>
        <th scope="col">Date Resolved</th>
      </tr>
    </thead>
    <tbody id="p_conditions_list">
      <tr v-for="entry in conditions.slice().reverse()">
        <td>{{ entry.code.coding[0].code }}</td>
        <td>{{ entry.code.coding[0].display }}</td>
        <td>{{ entry.onsetDateTime | date }}</td>
        <td>{{ entry.abatementDateTime || 'N/A' | date }}</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div id="observations" v-if="observations.length > 0"> 
    <div class="health-record__header"><div class="header-title">observations</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_observations_head">
      <tr>
        <th scope="col">LOINC</th>
        <th scope="col">Observation</th>
        <th scope="col">Value</th>
        <th scope="col">Date Recorded</th>
      </tr>
    </thead>
    <tbody id="p_observations_list">
      <tr v-for="entry in observations.slice().reverse()">
        <td>{{ entry.code.coding[0].code }}</td>
        <td>{{ entry.code.coding[0].display }}</td>
        <td>{{ entry | obsValue }}</td>
        <td>{{ entry.effectiveDateTime | dateTime }}</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div id="reports" v-if="reports.length > 0">
    <div class="health-record__header"><div class="header-title">reports</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_reports_head">
      <tr>
        <th scope="col">LOINC</th>
        <th scope="col">Report / Observation</th>
        <th scope="col">Value</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody id="p_reports_list">
      <template v-for="entry in reports.slice().reverse()">
        <tr class="report-line">
          <td>{{ entry.code.coding[0].code }}</td>
          <td>{{ entry.code.coding[0].display }}</td>
          <td></td>
          <td>{{ entry.effectiveDateTime | date }}</td>
        </tr>
        <tr v-for="obs in entry.observations" class="report-obs-line">
          <td>{{ obs.code.coding[0].code }}</td>
          <td>{{ obs.code.coding[0].display }}</td>
          <td>{{ obs | obsValue }}</td>
          <td></td>
        </tr>
      </template>
    </tbody>
    </table>
  </div>

  <div id="medications" v-if="medications.length > 0">
    <div class="health-record__header"><div class="header-title">medications</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_medications_head">
      <tr>
        <th scope="col">RxNorm</th>
        <th scope="col">Medication Order</th>
        <th scope="col">Date of Rx</th>
      </tr>
    </thead>
    <tbody id="p_medications_list">
      <tr v-for="entry in medications.slice().reverse()">
        <td>{{ entry.medicationCodeableConcept.coding[0].code }}</td>
        <td>{{ entry.medicationCodeableConcept.coding[0].display }}</td>
        <td>{{ entry.authoredOn | date }}</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div id="allergies" v-if="allergies.length > 0">
    <div class="health-record__header"><div class="header-title">allergies</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_allergies_head">
      <tr>
        <th scope="col">SNOMED</th>
        <th scope="col">Allergy</th>
        <th scope="col">Date Recorded</th>
      </tr>
    </thead>
    <tbody id="p_allergies_list">
      <tr v-for="entry in allergies.slice().reverse()">
        <td>{{ entry.code.coding[0].code }}</td>
        <td>{{ entry.code.coding[0].display }}</td>
        <td>{{ entry.assertedDate | date }}</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div id="care_plans" v-if="care_plans.length > 0">
    <div class="health-record__header"><div class="header-title">careplans</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_care_plans_head">
      <tr>
        <th scope="col">SNOMED</th>
        <th scope="col">Care Plan</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody id="p_reports_list">
      <template v-for="entry in care_plans.slice().reverse()">
        <tr>
          <td>{{ entry.category[0].coding[0].code }}</td>
          <td>{{ entry.category[0].coding[0].display }}</td>
          <td>{{ entry.period.start | date }}</td>
        </tr>
        <tr v-for="activity in entry.activity">
          <td></td>
          <td>Activity: {{ activity.detail.code.coding[0].display }}</td>
          <td></td>
        </tr>
        <tr v-for="goal in entry.care_goals">
          <td></td>
          <td>Goal: {{ goal.description.text }}</td>
          <td></td>
        </tr>
      </template>
    </tbody>
    </table>
  </div>

  <div id="procedures" v-if="procedures.length > 0">
    <div class="health-record__header"><div class="header-title">procedures</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_procedures_head">
      <tr>
        <th scope="col">SNOMED</th>
        <th scope="col">Procedure</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody id="p_procedures_list">
      <tr v-for="entry in procedures.slice().reverse()">
        <td>{{ entry.code.coding[0].code }}</td>
        <td>{{ entry.code.coding[0].display }}</td>
        <td>{{ entry.performedPeriod.start | dateTime }}</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div id="encounters" v-if="encounters.length > 0">
    <div class="health-record__header"><div class="header-title">encounters</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_encounters_head">
      <tr>
        <th scope="col">SNOMED</th>
        <th scope="col">Encounter</th>
        <th scope="col">Start Date</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody id="p_encounters_list">
      <tr v-for="entry in encounters.slice().reverse()">
        <td>{{ entry.type[0].coding[0].code }}</td>
        <td>{{ entry.type[0].coding[0].display }}</td>
        <td>{{ entry.period.start }}</td>
        <td>{{ entry.period | duration }}</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div id="vaccinations" v-if="vaccinations.length > 0">
    <div class="health-record__header"><div class="header-title">vaccinations</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_vaccinations_head">
      <tr>
        <th scope="col">CVX</th>
        <th scope="col">Vaccination</th>
        <th scope="col">Date Last Given</th>
      </tr>
    </thead>
    <tbody id="p_vaccinations_list">
      <tr v-for="entry in vaccinations.slice().reverse()">
        <td>{{ entry.vaccineCode.coding[0].code }}</td>
        <td>{{ entry.vaccineCode.coding[0].display }}</td>
        <td>{{ entry.date | date }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>

<div id="by_encounter" v-if="group_by_encounter">
  <a id="toggle_grouping" title="Toggle Grouping By Type"
     href="#" onclick="ToggleGrouping(false);return false;">Group by Type</a>
  <div id="groupedencounters" v-if="encounters.length > 0">
    <div class="health-record__header"><div class="header-title">encounters</div><div class="header-divider"></div></div>
    <table class="table table-sm table-hover">
    <thead id="p_encountergroup_head">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Code</th>
        <th scope="col">Display</th>
        <th scope="col">Value</th>
        <th scope="col">Date/Time</th>
      </tr>
    </thead>
    <tbody id="p_groupedencounters_list">
      <template v-for="enc in encounters.slice().reverse()">
        <tr class="report-line">
          <td>Encounter</td>
          <td>SNOMED {{ enc.type[0].coding[0].code }}</td>
          <td>{{ enc.type[0].coding[0].display }}</td>
          <td></td>
          <td>{{ enc.period.start }} - {{ enc.period | duration }}</td>
        </tr>
        <tr v-for="condition in enc.entries.conditions">
          <td>Diagnosis</td>
          <td>SNOMED {{ condition.code.coding[0].code }}</td>
          <td>{{ condition.code.coding[0].display }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr v-for="medication in enc.entries.medications">
          <td>Prescription</td>
          <td>RxNorm {{ medication.medicationCodeableConcept.coding[0].code }}</td>
          <td>{{ medication.medicationCodeableConcept.coding[0].display }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr v-for="procedure in enc.entries.procedures">
          <td>Procedure</td>
          <td>SNOMED {{ procedure.code.coding[0].code }}</td>
          <td>{{ procedure.code.coding[0].display }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr><td></td><td></td><td></td><td></td></tr> <!-- blank line for spacing? -->
      </template>
    </tbody>
    </table>
  </div>
</div>


  <!-- div id="debug" v-if="raw_record">
      <pre>{{ raw_record | pretty }}</pre>
  </div -->

<div id="dropzone" v-if="raw_record == null" style="height:100vh; width: 100%; background: #F0F8FF">
</div>

</div>
    
<script type="text/javascript">

const round = function (num, digits) {
  return Number.parseFloat(num).toFixed(digits);
}

const isMatchingReference = function(entry, reference, resourceType) {
  if (typeof reference === 'object' && reference.reference) reference = reference.reference;
  return entry.id === reference 
        || ('urn:uuid:'+entry.id) === reference 
        || (resourceType+'/'+entry.id) === reference;
};


const app = new Vue({
  el: '#app',
  data: {
    raw_record: null,
    group_by_encounter: false,
    patient: null,
    height_obs: null,
    weight_obs: null,
    race: null,
    ethnicity: null,
    cause_of_death_obs: null,
    observations: [],
    reports: [],
    conditions: [],
    medications: [],
    allergies: [],
    care_plans: [],
    procedures: [],
    encounters: [],
    vaccinations: []
  },
  methods: {
    randInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
  },   
  filters: {
    pretty: function(value) {
      return JSON.stringify(value, null, 2);
    },
    date: function(str) {
      let d = moment(str);
      return d.isValid() ? d.format('YYYY-MM-DD') : str;
    },
    dateTime: function(str) {
      let d = moment(str);
      return d.isValid() ? d.format('YYYY-MM-DD h:mm:ss a') : str;
    },
    duration: function(period) {
      if (!period.end) {
        return '';
      }

      let start = moment(period.start);
      let end = moment(period.end);

      return moment.duration( start.diff(end) ).humanize();;
    },
    obsValue: function(entry) {
      if (entry == null) {
        return '';
      } else if (entry.valueQuantity) {
        return round(entry.valueQuantity.value, 2) + ' ' + entry.valueQuantity.code;
      } else if (entry.valueCodeableConcept) { 
        return entry.valueCodeableConcept.coding[0].display;
      } else if (entry.valueString) {
        return entry.valueString;
      }

      if (entry.code.coding[0].display == "Blood Pressure") {

        if (!entry.component[0].valueQuantity) {
          return ''; // WTF!!
        }
        
        const v1 = Number.parseFloat(entry.component[0].valueQuantity.value);
        const v2 = Number.parseFloat(entry.component[1].valueQuantity.value);

        const s1 = v1.toFixed(0);
        const s2 = v2.toFixed(0);

        if (v1 > v2) {
          return s1 + ' / ' + s2 + ' mmHg';
        } else {
          return s2 + ' / ' + s1 + ' mmHg';
        }
      }

      return '';
    }
  }
});


function update(incoming) {
  app.raw_record = incoming;
  let entries = _.map(incoming.entry, e => e.resource);
  let groupedEntries = _.groupBy(entries, e => e.resourceType);

  app.patient = groupedEntries.Patient[0];

  const raceExt = _.find(app.patient.extension, e => e.url == 'http://hl7.org/fhir/us/core/StructureDefinition/us-core-race');
  if (raceExt) {
    app.race = raceExt.extension[0].valueString || raceExt.extension[0].valueCoding.display;
  } else {
    app.race = null;
  }

  const ethExt = _.find(app.patient.extension, e => e.url == 'http://hl7.org/fhir/us/core/StructureDefinition/us-core-ethnicity');
  if (ethExt) {
    app.ethnicity = ethExt.extension[0].valueString || ethExt.extension[0].valueCoding.display;
  } else {
    app.ethnicity = null;
  }

  app.conditions = groupedEntries.Condition || [];
  app.conditions = _.sortBy(app.conditions, c => c.onsetDateTime);

  app.reports = groupedEntries.DiagnosticReport || [];
  app.observations = groupedEntries.Observation || [];

  app.reports.forEach((r) => {
    r.observations = r.result.map(res => _.find(app.observations, o => isMatchingReference(o, res.reference, 'Observation') )  );
    app.observations = _.difference(app.observations, r.observations);
  });
  app.observations = _.sortBy(app.observations, o => o.effectiveDateTime);

  const deathCert = _.find(app.reports, r => r.code.coding[0].display === 'U.S. standard certificate of death - 2003 revision');
  if (deathCert) {
    app.cause_of_death_obs = deathCert.observations[0];
  } else {
    app.cause_of_death_obs = null;
  }

  const searchableObs = app.observations.slice().reverse();
  app.height_obs = _.find(searchableObs, o => o.code.coding[0].display === 'Body Height');
  app.weight_obs = _.find(searchableObs, o => o.code.coding[0].display === 'Body Weight');

  app.medications = groupedEntries.MedicationRequest || [];
  app.medications = _.sortBy(app.medications, m => m.authoredOn);

  app.allergies = groupedEntries.AllergyIntolerance || [];
  app.allergies = _.sortBy(app.allergies, a => a.assertedDate);

  app.care_plans = groupedEntries.CarePlan || [];
  const goals = groupedEntries.Goal || [];

  app.care_plans.forEach((c) => {
    const currGoals = c.goal || [];
    c.care_goals = currGoals.map((ref) => _.find(goals, (g) => isMatchingReference(g, ref.reference, 'Goal'))  );

  });
  app.care_plans = _.sortBy(app.care_plans, cp => cp.period.start);

  app.procedures = groupedEntries.Procedure || [];
  app.procedures = _.sortBy(app.procedures, p => p.performedPeriod.start);

  app.encounters = groupedEntries.Encounter || [];
  app.encounters = _.sortBy(app.encounters, e => e.period.start);

  app.vaccinations = groupedEntries.Immunization || [];
  app.vaccinations = _.sortBy(app.vaccinations, 'date');

  // now re-group everything by encounter as well
  app.encounters.forEach(enc => {
    enc.entries = {};

    enc.entries.conditions = app.conditions.filter(c => isMatchingReference(enc, c.context || c.encounter, 'Encounter'));
    enc.entries.medications = app.medications.filter(m => isMatchingReference(enc, m.context || m.encounter, 'Encounter'));
    enc.entries.procedures = app.procedures.filter(p => isMatchingReference(enc, p.context || p.encounter, 'Encounter'));
  });
}

const ToggleGrouping = function(isGroupByEncounter) {
  app.group_by_encounter = isGroupByEncounter;
}

const urlParams = new URLSearchParams(window.location.search);
const patientId = urlParams.get('patient');
const apiKey = urlParams.get('apikey');

if (patientId && apiKey) {

  const url = `https://syntheticmass.mitre.org/v1/fhir/Patient/${patientId}/$everything?apikey=${apiKey}`;

  const get = new XMLHttpRequest();
  get.onreadystatechange = function() {
    if (get.readyState === XMLHttpRequest.DONE) {
      if (get.status === 200) {
        const json = get.responseText;
        try {
          const result = JSON.parse(json);
          update(result);
        } catch (e) {
          console.error(e);
          console.log(`URL was ${url}`);
          console.log(`json was ${JSON.stringify(json, null, 2)}`);
        }
      }
    }
  };
  get.open('GET', url);
  get.send();

} else {
  new DragDropHelper(update);
}


</script>

</body>
</html>
