#p_patient_photo {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.health-record__header {
    font-family: 'Open Sans', sans-serif;
    display: -ms-flexbox;
    display: flex;
    color: #6b8eb6;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px 0;
}

.health-record__header .header-divider {
    width: 100%;
    border-bottom: 1px solid #7e90a3;
    margin-bottom: 10px;
}

.report-line {
  background: #EAEAEA;
}



body {
  border: 12px solid #F0F8FF;
}



dl {
 margin-top:0;
 margin-bottom:20px
}
dd,dt {
 line-height:1.42857
}
dt {
 font-weight:700
}
dd {
 margin-left:0
}
.dl-horizontal dd:after,.dl-horizontal dd:before {
 content:" ";
 display:table
}
.dl-horizontal dd:after {
 clear:both
}
@media (min-width:768px) {
 .dl-horizontal dt {
  float:left;
  width:160px;
  clear:left;
  text-align:right;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
 }
 .dl-horizontal dd {
  margin-left:180px
 }
}